.review {
  align-items: center;
  display: flex;
  margin: 12px 0;
}

.stars {
  min-width: fit-content;
  padding: 12px 12px 12px 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.date {
  color: var(--dark-grey);
  margin-top: 4px;
}
