.header {
  font-size: 18px;
  font-weight: bold;
  padding: 0 12px;
  text-align: left;
}

.header:nth-child(2) {
  font-size: 14px;
  text-align: center;
}

.header:nth-child(3) {
  font-size: 14px;
  text-align: center;
}

.row {
  border-radius: 16px;
  cursor: pointer;
}

.cell {
  font-size: 13px;
  padding: 12px;
}

.cell:first-child {
  border-radius: 16px 0 0 16px;
}

.cell:nth-child(2) {
  font-weight: bold;
  text-align: right;
}

.cell:nth-child(3) {
  font-weight: bold;
  text-align: right;
}

.cell:last-child {
  border-radius: 0 16px 16px 0;
}

.sortIcon {
  margin-left: 12px;
}
