.modal {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 24px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}
